* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: rgb(255, 106, 0);
}

.examplecontent {
    font-size: 28px;
}

/* commented out html*/

.main {
    position: relative;
    top: 80px;

    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    height: 550px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

.image img {
    position: relative;
    left: 112px;
    padding-top: 20px;
    height: 80px;
    width: 80px;
    filter: drop-shadow(3px 5px 10px black);
    animation: 1s linear 0s infinite alternate slidein;
}

.wlcm {
    text-align: center;
    font-size: large;
    line-height: normal;
}

.wlcm2 {
    text-align: center;
    line-height: 10px;
}

.githublogin {
    font-size: 14px;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
    height: fit-content;
    width: 70%;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 6px;
    border: 2px rgb(33, 33, 33)solid;
    border-radius: 40px;
}

.githublogin img {
    position: relative;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
}

/* no need to define googlelogin here, just for the search reference on the html file */

.inputdet {
    margin: 15px;
    width: 88%;
    text-align: left;
    padding: 5px;
    margin: 20px;
    color: rgba(0, 0, 0, 0.650);
}

.spantext {
    font-size: 15px;
}

.inputdet2 {
    width: 88%;
    text-align: left;
    padding: 5px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 10px;
    color: rgba(0, 0, 0, 0.650);
}

.frgtpwd {
    color: rgb(255, 89, 0);
    font-weight: bold;
    padding-left: 20px;
    font-size: 14px;
    line-height: 0;
}

.continue {
    position: relative;
    top: -20px;
    margin-left: 12px;
    background-color: rgb(255, 106, 0, 0.790);
    text-align: center;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 40px;

}


/* Interactivity */

@media (max-width: 420px) {
    .card {
        height: 73%;
        width: 80%;
    }
    .image img {
        position: relative;
        left: 100px;
        top: 20px;
        }

    .wlcm {
        font-size: 14px;
        margin-bottom: 0;
        margin-top:43px;
    }

    .wlcm2 {
        margin-top: 8.5px;
        font-size: 14px;
    }

    .githublogin {
        font-size: 12px;

    }

    .githublogin img {
        height: 15px;
        width: 15px;
    }

    .spantext {
        font-size: 13px;
    }

    .inputdet {
        color: rgba(0, 0, 0, 0.558);
    }

    .inputdet2 {
        color: rgba(0, 0, 0, 0.568);
    }

    .frgtpwd {
        margin-top: 25px;
        color: rgb(255, 89, 0);
        font-weight: bold;
        padding-left: 20px;
        font-size: 14px;
    }

    .continue {
        position: relative;
        top: -30px;

    }

}

/* Keyframes and animations */

@keyframes slidein {
    from {
        transform: translateX(-100%);
        transform: rotate(-15deg);
    }

    to {
        transform: translateX(100%);
        transform: rotate(+15deg);
    }
}