.box {
    height: 100px;
    width: 300px;
    background-color: skyblue;
    text-align: center;

    animation-name: coloranimation, size,boxanimation;
    animation-duration: 0.8s;
    animation-delay: 0s;
    /* animation-timing-function: ease-in; */
    /* animation-iteration-count: 3; */
    animation-iteration-count: 6;
    animation-direction: alternate;

    /* animation:boxanimation 0.8s 0s ease-in 6 alternate ; */

}

@keyframes boxanimation {
    from {
        font-size: 20px;
    }

    to {
        font-size: 50px;
        font-weight: bolder;
    }
}

@keyframes coloranimation {
    from {
        background-color: blue;
    }

    to {
        background-color: red;
    }
}

@keyframes size {
    from {
        height: 100px;
        width: 300px;
    }

    to {
        height: 300px;
        width: 600px;
        /* transform: rotate(90deg) skew(+45deg) translateY(100px); */
    }
}