.oldblock {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    margin-left: 0;
    font-size: x-large;
}

/* #main {
    
} */

.block {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    margin-left: 0;
    font-size: x-large;
}

#blu {
    background-color: lightblue;
    /* Needed before Z-INDEX */
    position: relative;
    z-index: 1;
}

#orang {
    background-color: rgb(255, 198, 92);
    position: relative;
    bottom: 50px;
    z-index: 2;
}

#pinc {
    background-color: pink;
    /* Needed before Z-INDEX */
    position: relative;
    bottom: 100px;
    z-index: 3;
}