#yelow {
    height: 200px;
    width: 200px;
    background-color: gold;
    border-radius: 50%;
}

/* For Dark Mode In The Website!
body{
    background-color: black;
} */

#eye1 {
    height: 30px;
    width: 30px;
    background-color: black;
    display: inline-block;
    margin-left: 20px;
    margin-right: 60px;
    position: absolute;
    top: 65px;
    left: 35px;
    border-radius: 50%;
}

#eye2 {
    height: 30px;
    width: 30px;
    background-color: black;
    display: inline-block;
    margin-left: 20px;
    margin-right: 60px;
    position: absolute;
    top: 65px;
    left: 105px;
    border-radius: 50%;
}

#mouth {
    height: 30px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 135px;
    left: 57px;
    /* border-radius: 50%; */
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}