* {
    margin: 0;
    /* font-family: Montserrat; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

body {
    font-weight: 700;
    /* CAN MAY CHANGE- styles: bg */

    background-image: linear-gradient(to right, rgb(255, 120, 120, 0.78), rgb(162, 162, 255, 0.78));
    /* ANOTHER COLOR OPTION */
    /* background: radial-gradient(#f69d3c, #3f87a6); */
}

.upper {
    /* CAN MAY CHANGE- styles: bg */

    /* background-color: violet; */
    padding: 1rem 0rem 4rem 0rem;
    padding-bottom: 2rem;
    text-align: center;
    width: auto;
}

h1 {
    margin: 0;
    margin-top: 4rem;
    line-height: 1rem;
    font-size: 65px;
    /* text-align: center; */
}

.hrtag {
    display: none;
    position: relative;
    top: 2rem;
}


h3 {
    font-size: 22px;
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: underline;
}

#yotask {
    font-size: 24px;
    padding-top: 2rem;
    margin-bottom: 0;
    text-decoration: underline;

}

h2 {
    margin: 0;
    font-size: 20px;
    
}

svg {
    position: relative;
    top: 0.3rem;
}

h1 svg {
    height: 50px;
    width: 50px;
}

.butn {
    font-weight: bolder;
    border: 2px solid black;
    padding: 5.5px 3.5px 5.5px 3.5px;
    /* background: #404040;
    color: white; */
}

.mainadd {
    font-weight: bolder;
    border: 2px solid black;
    border: none;
}

.mainadd svg {
    height: 20px;
    width: 20px;
    background: none;
    text-align: right;
}

input {
    margin-top: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    width: 400px;
    font-size: 16px;
    /* margin-left: 1rem; */
}

.lower {
    text-align: center;
    /* CAN MAY CHANGE- styles: bg */

    /* background-image: linear-gradient(to right, pink ,crimson, pink); */
    background-color: none;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 4rem;
    overflow: hidden;

}

.lists {
    text-align: center;
    /* margin: 1rem auto; */
}

.eachtask {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
    background-color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    width: 45%;
    font-weight: bold;
    font-size: 23px;
    margin: 1rem auto;
    margin-top: 1rem;
    text-align: left;
    height: fit-content;
}

.delete {
    /* position: sticky;
    right: 10px;
    top: 5px; */
    /* margin: 1rem; */
    margin-left: 2rem;

}


.eachtask svg {
    text-align: right;
    position: relative;
    left: 10rem;
}

/* ol {
    list-style: none;
} */



@media (max-width: 450px) {

    /* h2 {
        position: relative;
        bottom: 1.2rem;
    } */
    input {
        width: 245px;
        font-size: 18px;
    }

    h1 {
        margin-top: 3.5rem;
    }

    .hrtag {
        display: block;
        top: 2.5rem;
    }

    .eachtask {
        width: 90%;
        padding: 4px 15px 4px 15px;
        margin-left: -0.5rem;
        margin-top: 1rem;
    }

    .lower {
        padding-top: 0;
    }

    #yotask {
        display: none;
    }


}