h1 {
    height: 50px;
    text-align: center;
}

#v{
    background-color: violet;
}
#i{
    background-color: indigo;
}
#b{
    background-color: blue;
}
#g{
    background-color: green;
}
#y{
    background-color: yellow;
}
#o{
    background-color: orange;
}
#r{
    background-color: red;
}

/* div{
    border: 2px solid black;
} */


#container {
    height: 400px;
    width: 80%;
    background-color: azure;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 2em;
    display: flex;
    /* justify-content */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start;
    justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */

    /* wrapping */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse;*/
}

#container div{
    height: 30%;
    width: 300px;
    text-align: center;
}