/* div {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;

}               pract ques-1 */

/* div {
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}               pract ques-2           */

/* pract ques-3 */
li {
    display: inline;
}