.card {
    height: 250px;
    width: 170px;
    border: 2px solid black;
    display: inline-block;
    box-shadow: 2px 2px 30px black;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 15px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 5%;
}
.card:hover{
    transition: 1s;
    box-shadow: 4px 4px 30px brown;
    transform: scale(1.1);
    /* text-align: center;
    margin: 20px auto; */
}


img{
    height: 170px;
    width: 170px;
    border-radius: 5%;
}