
h2 {
    color: orange;
}
h4 {
    text-align: right;
}

.card{
    width: 350px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;    
}

#pets{
    margin: 10px;
    text-align: center;
    padding: 30px;
    /* most important */
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 150px;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding: 0;
}

span{
    color: sandybrown;
}