/* h3 {
    opacity: 0.65;
    margin: 0px;
    font-size: 2rem;
}

#id1 {
    background-color: pink;
    height: 200px;
    width: 200px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 0px;
} */
/* #id2:active{
    background-color: darkred;
    transition: 0.75s;
} */

#id2 {
    background-color: green;
    height: 200px;
    width: 200px;
    padding: 15px;    
}

#id2:hover {
    background-color: salmon;
    border-radius: 50%;
    transition: 1.5s;
    transition-timing-function:linear;
    text-align: center;
}

#id2 button:hover{
    background-color: darkblue;
    color: white;
    transition: 0.5s;
}

