div:nth-of-type(n) {
    background-color: darkblue;
}
div:nth-of-type(2n) {
    background-color: darkred;
}
div:nth-of-type(3n) {
    background-color: darkgreen;
}

div {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

/* div:active{
    background-color: black;
    transition: 0.75s;
} */

div:hover{
    background-color: lightpink;
    transition: 1.6s;
    transform: rotate(360deg);
}