body {
    margin: 0;
    font-family: "GT America Standard", serif;
}

.main {
    display: flex;
    height: auto;
    overflow: hidden;
}

/* TOPBAR STYLING WHICH IS IN BLACK COLOR */
.topbar {
    background-color: black;
    height: 88px;
    width: 100%;
    display: flex;
}

.topbar img {
    height: 3rem;
    position: relative;
    top: 20px;
    left: 4rem;
}

.topbar h3 {
    position: absolute;
    top: 1.65rem;
    left: 17rem;
    font-size: xx-large;
    color: white;
    margin: 0;
}

.logo-big {
    height: auto;
}

.signin-submit {
    text-align: right;
    position: relative;
    top: 20px;
    position: absolute;
    right: 4rem;
    justify-content: space-between;
}

.signin-submit button {
    text-align: right;
    font-size: x-large;
    border-radius: 5px;
    padding: 10px;

}

.button1 {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4rem;
}

.button2 {
    background-color: #4C5FD5;
    color: white;
    border: 2px solid #4C5FD5;
}



.middlebar {
    text-align: center;
    font-size: xx-large;
    height: 397px;
    width: 100%;
    background-color: #DADBF1;
    position: absolute;
    top: 88px;
}

.middlebar h1 {
    margin-bottom: 1rem;
}

.middlebar input {
    height: 3.5rem;
    width: 45rem;
    font-size: smaller;
}

.middlebar .mid-search {
    position: relative;
    top: 30px;
}

.middlebar form input,
label {
    font-size: xx-large;
    /* padding: ; */
}

.middlebar svg {
    position: relative;
    right: 42px;
    top: 2px;
}


/* STYLING OF CONTENT AREA */
.content {
    flex: 1;
    display: flex;
    position: absolute;
    top: 30rem;
    background-color: white;
    height: 2200px;
    width: 100%;
    font-size: xx-large;
}
.info-row1 {
    display: flex;
    flex-direction: column;
}

.info-row1 img {
    height: 100px;
}

.content .info-row1 {
    height: 380px;
    width: 550px;
    padding: 1rem;
    border: 3px solid black;
    margin-left: 7rem;
    margin-top: 10rem;
}


/* row 2 */
.info-row2 {
    display: flex;
    flex-direction: column;
}

.info-row2 img {
    height: 100px;
}

.content .info-row2 {
    height: 380px;
    width: 550px;
    padding: 1rem;
    border: 3px solid black;
    margin-left: 7rem;
    margin-top: 10rem;
}






/* ENDBAR PENDING DUE TO LACKING OF TIME
TO COMLETE THIS PROJECT IS EXCEEIDNG */

/* .endbar {
    background-color: black;
    height: 360px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
}

.cards {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    border: 2px solid white;
    justify-content: center;
    padding: 0;
}

.cards a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
} */