
/* This is univesal selector in html */

* {
    font-family: Palatino Linotype;
}

h1 {
    color: #B92B27
}

#login, #signup {
    color: white;
    background-color: #B92B27;
}

.upvote{
    background-color: green;
    color: white;
}

/* descendant selector */
.post a{
    color: purple;
    background-color: yellow;
}

nav ul li {
    color: hotpink
}
nav ul li a{
    color: hotpink
}

p +h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: darkred;
    color: white;
}

div > input {
    background-color: rgb(255, 234, 234);
}

input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

button:hover{
    background-color: red;
    color: blue;
}

button:active{
    background-color: goldenrod;
    color: black;
}


h3:hover{
    text-decoration: none;
}

p:active{
    font-weight: bold;
    font-size: larger;
    color: purple
}

input[type="radio"]:checked + label{
    font-size:x-large;
    color:red;
    background-color: rgb(0, 140, 255);
}

p::selection{
    background-color: salmon;
    color: black;
}