
.vid1 {
    background-color: pink;
    height: 200px;
    width: 400px;
}

.vid1 ul {
    background-color: blue;
}

.vid1 li {
    background-color: greenyellow;
}

form input{
    width: 250px;
}


h3 {
    font-size: xx-large;
}
ol {
    font-size: x-large;
    line-height: 2.5rem;
}

#tasks {
    position: fixed;
    top: 17rem;
    left: 26rem;
    z-index: 2;
}

li button {
    margin-left: 0.75rem;
}




