<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Dice gave value:

        <!-- <%= Math.floor(Math.random() * 6) +1 %> -->
        <%= diceVal %>
    </h1>

    <% if (diceVal==6) { %>
        <h2>Nice! Roll Dice Again.</h2>
        <% } %>


</body>

</html>