* {
    margin: 0;
    /* font-family: "GT America Standard", serif; */
    font-family: GT system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    height: auto;
    overflow: hidden;
}

/* TOPBAR STYLING WHICH IS IN BLACK COLOR */
.topbar {
    background-color: black;
    height: 88px;
    width: 100%;
    display: flex;
}

.topbar img {
    height: 3rem;
    position: relative;
    top: 20px;
    left: 4rem;
}

.topbar h3 {
    position: relative;
    top: -1.7rem;
    left: 17rem;
    font-size: xx-large;
    color: white;
    margin: 0;
}

.logo-big {
    height: auto;
}

.signin-submit {
    text-align: right;
    position: relative;
    top: 1rem;
    left: 55rem;
}

.signin-submit button {
    text-align: right;
    font-size: x-large;
    border-radius: 10px;
    padding: 10px;
    font-family: GT system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 400;
}

.button1 {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4rem;
}

.button2 {
    background-color: #4C5FD5;
    color: white;
    border: 2px solid #4C5FD5;
    margin-left: 1rem;
}



.middlebar {
    text-align: center;
    font-size: xx-large;
    height: 397px;
    width: 100%;
    background-color: #DADBF1;
    position: absolute;
    top: 88px;
}

.middlebar h1 {
    font-size: 80px;
    margin-bottom: 1rem;
}

.middlebar input {
    height: 3.5rem;
    width: 45rem;
    font-size: smaller;
    border: 2px solid black;
}

.middlebar .mid-search {
    position: relative;
    top: 30px;
}

.middlebar form input,
label {
    font-size: xx-large;
    /* padding: ; */
}

.middlebar svg {
    position: relative;
    right: 55px;
    top: 2px;
    font-size: 28px;
}


#formOne input {
    padding: 1rem;
    font-size: large;
}



/* content styling */
.content {
    position: absolute;
    top: 620px;
    /* top: 550px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    /* overflow: hidden; */
    font-size: 24px;
    /* width: 100vh; */
    /* height: 100%; */
    align-content: space-around;
}

/* block1 */
.blocks {
    display: inline-flex;
    flex-wrap: wrap;
    height: 250px;
    font-family: 'GT America Standard', sans-serif;
    /* border: 2px solid black; */          /*for outlining*/
    padding: 1rem;
    align-items: start;
    margin-left: 7rem;
}

.blocks img {
    height: 100px;
    width: 100px;
    margin-right: 1.5rem;
}

.titldesc {
    width: 450px;
    /* border: 2px solid black; */          /*for outlining*/
}

.titldesc h4 {
    font-weight: bold;
}

.titldesc a {
    font-size: 20px;
    color: #005fc4;
    
}
.titldesc svg {
    font-size: 20px;
}

.row2 {
    display: inline;
}

/* block2 */

/* .blocks2 {
    display: inline-flex;
    flex-wrap: wrap;
    height: 250px;
    font-family: 'GT America Standard', sans-serif;
    border: 2px solid black;
    padding: 1rem;
    align-items: start;
    margin-left: 7rem;
    position: relative;
    top: 9rem;
}

.blocks2 img {
    height: 100px;
    width: 100px;
    margin-right: 1.5rem;
} */




/* footer styling */
.footer {
    position: absolute;
    top: 125rem;
    margin: 0;
    margin-top: 2rem;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3rem;
}

.footer .box {
    display: inline-flex;
    flex-direction: column;
    /* outline: auto; */
    padding: 2rem;
    width: fit-content;
    line-height: 0.75rem;
    margin-left: 3rem;

}

.footer .box a {
    color: white;
}

.copyright img {
    height: 50px;
    width:  50px;
    margin-bottom: 1rem;
}

.copyright {
    margin-left: 3rem;
    position: absolute;
    z-index: 1;
    bottom: 3rem;
    right: 6rem;
    line-height: 1rem;
}

.copyright p{
    font-weight: 400;
    line-height: 1rem;
    font-size: 20px;
}

.stickyhelp button{
    position: absolute;
    top: 152.5rem;
    right: 1.5rem;
    z-index: 5;
    background-color: #4c5fd5 ;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 40px;
    padding-bottom: 0.9rem;
}

.stickyhelp button a{
    color: white;
}
